body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#0d3d34, #051211);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    display: block;
    width: 400px;
    padding: 40px;
    background: rgba(9, 125, 108, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #00ffcc;
    font-size: 12px;
}

.login-box .submit-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.login-box .submit-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.login-box .submit-btn:not(:disabled):hover {
    background: #05756e9b;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #05756e9b,
                0 0 5px #05756e9b,
                0 0 5px #05756e9b,
                0 0 5px #05756e9b;
}

.login-box .submit-btn span {
    position: absolute;
    display: block;
}

.login-box .submit-btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.login-box .submit-btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.login-box .submit-btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffffff);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.login-box .submit-btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffffff);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

.login-box .submit-btn span:nth-child(5) {
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff);
    animation: btn-anim5 1s linear infinite;
    animation-delay: 1s;
}

@keyframes btn-anim5 {
    0% {
        top: 0;
    }
    50%, 100% {
        top: 100%;
    }
}


/* ----------------------------------------- */

.password-container {
    position: relative;
}

/* Eye icon styles */
.eye-icon {
    position: absolute;
    right: 0;
    top: 15%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    font-size: 12px;
}




input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgb(25 81 73) inset !important;
    
    -webkit-text-fill-color: white !important;
}

/* Style the autocomplete dropdown */
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px rgb(25 81 73) inset !important;
    -webkit-text-fill-color: white !important;
}

@-webkit-keyframes autofill {
    to {
        background: transparent;
        color: white;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #00ffcc;
    font-size: 12px;
}


/* ------------------------------------------- */

.user-box.invalid input {
    border-color: red !important;
}

.user-box.invalid label {
    color: red !important;
}

.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(255, 255, 255, 0.3);
  }
 
  
.loader {
    display: none;
    --d:22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #25b09b;
    box-shadow:
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: l27 1s infinite steps(8);
    left: 50%;
    position: absolute;
  }
 
  @keyframes l27 {
    100% {transform: rotate(1turn)}
  }